<html>
  <body>
    Login, brah
    <form action="/login" method="POST">
      <input type="text" name="username"></br>
      <input type="password" name="password"></br>
      <input type="submit" value="LOGIN">
    </form>
    New to the game? <a href="/register">Make</a> a login!
  </body>
</html>
